@model IEnumerable<Lab_testpinyuan2.Models.Client>

@{
    ViewData["Title"] = "客戶清單";
}

<h1>@ViewData["Title"]</h1>

@* 搜尋客戶名稱 *@
<form action="~/Clients/Index" method="post" class="my-3">
    <label for="searchClient">搜尋客戶 : </label>
    <input id="searchClient" type="text" name="searchText" value="@ViewBag.SearchText" />
    <input type="submit" value="搜尋"/>
</form>

<p>
    <a asp-action="Create">新增客戶資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxIdnumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxIdnumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">編輯客戶資料</a>
                @* <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> *@
                @* <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
