@model IEnumerable<Lab_testpinyuan2.Dto.OrderIndexDto>

@{
	ViewData["Title"] = "訂單清單列表";
}

<h1>@ViewData["Title"]</h1>

@* 搜尋估價單號碼 *@
<form action="~/Orders/Index" method="post" class="my-3">
	<label for="searchOrder">搜尋估價單號碼 : </label>
	<input id="searchOrder" type="text" name="searchText" />
	<input type="submit" value="搜尋" />
</form>

<p>
	<a asp-action="CreateOrderOrderDetail">新增訂單</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CompanyName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.QuoteNumber)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CompanyName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.QuoteNumber)
				</td>
				<td>
					<a asp-action="EditOrderOrderDetail" asp-route-id="@item.OrderId">編輯訂單</a> |
					<a asp-action="OrderOrderDetailDetails" asp-route-id="@item.OrderId">訂單詳細資訊</a>
					@* <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a> *@
				</td>
			</tr>
		}
	</tbody>
</table>
